.Lend {
  min-height: 800px;
  padding-top: 80px;
  text-align: left;
}

.Lend img.ui.image{
  margin: 0px;
}

.Lend .ui.card, .ui.cards>.card {
  border-radius: 0px;
  width: 274px;
}

.progress {
  height: 0px; 
  overflow: visible;
}

.ui.progress .bar {
  min-width: 0px;
}

.ui.blue.button, .ui.blue.buttons .button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.LoanTitle {
  color: rgb(38, 182, 232);
}

.profile .ui.card, .ui.cards>.card:hover{
  box-shadow: 4px 4px 20px #888888;
}