.row {
  /* border: 1px solid black;    */
  text-align: center;
  margin: 0;
}

.col-lg-6 {
    /* border: 1px solid black;    */
}

.HowItWorks {
  background-color: #63a541;
  padding-top: 20px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.repeat {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Social {
  background-color: white;
  padding: 45px;
}

.Social p {
  font-size: 30px;
  font-weight: bold;
  color: #63a541;
}

.BottomPic {
  background-image: url('./bottom.jpg');
  background-size: cover;
}

.BottomPic p {
  color: white;
  font-size: 32px;
  margin: 100px;
  font-weight: bold;
}

.Accolades {
  background-color: #236133;
  padding-top: 20px;
}

.Accolades p {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.Accolades .desc {
  font-size: 14px;
  color: #63a541;
}

.FollowUs {
  display: flex;
  justify-content: space-around;
}

.icon {
  border: 1px #666 solid;
  border-radius: 50%;
  padding: 15px;
}

.Start p {
  font-size: 75px;
  font-weight: bold;
  background: url('bottom.jpg');
  background-position: cover;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}