.row {
  /* border: 1px solid black;    */
  text-align: center;
   margin: 0; 
}

.col-lg-6 {
    /* border: 1px solid black;    */
}

.HowItWorks {
  background-color: #63a541;
  padding-top: 20px;
}

.HIW {
  font-size: 26px;
  font-weight: bold;
  color: #236133;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.description {
  color: #236133;
  font-weight: bold;
}

.repeat {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Social {
  background-color: white;
  padding: 45px;
}

.Social p {
  font-size: 30px;
  font-weight: bold;
  color: #63a541;
}

.BottomPic {
  background-image: url('./bottom.jpg');
  background-size: cover;
}

.BottomPic p {
  color: white;
  font-size: 32px;
  margin: 100px;
  font-weight: bold;
}

.Accolades {
  background-color: #236133;
  padding-top: 20px;
}

.Accolades p {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.Accolades .desc {
  font-size: 14px;
  color: #63a541;
}

.FollowUs {
  display: flex;
  justify-content: center; 
}

.FollowUs a {
  margin: 0px 50px 0px 50px;
}

.followMe {
  border: 1px #666 solid;
  border-radius: 50%;
  padding: 20px;
}

.followMe img {
  width: 50px;
  height: 50px;
}

.Start p {
  font-size: 75px;
  font-weight: bold;
  background: url('bottom.jpg');
  background-position: cover;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}

/* Categories */
.Search {
  background-color: rgb(38, 182, 232);
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.Women {
  background-image: url('./category/Women.jpg');
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.Agriculture {
  background-image: url('./category/Agriculture.jpg');
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.Education {
  background-image: url('./category/Education.jpg');
  background-size: cover;
  max-width: 100%;
  height: 140px;
   width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.Health {
  background-image: url('./category/Health.jpg');
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.SingleParents {
  background-image: url('./category/SingleParent.jpg');
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.Refugees {
  background-image: url('./category/Refugees.jpg');
  background-size: cover;
  max-width: 100%;
   height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.Shelter {
  background-image: url('./category/Shelter.jpg');
  background-size: cover;
  max-width: 100%;
   height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.Food {
  background-image: url('./category/Food.jpg');
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.KivaUSA {
  background-image: url('./category/KivaUSA.jpg');
  background-size: cover;
  max-width: 100%;
   height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 5px;
}
.Expiring {
  background-image: url('./category/ExpiringSoon.jpg');
  background-color: #63a541;
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.All {
  background-color: #63a541;
  background-size: cover;
  max-width: 100%;
  height: 140px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.StartLending a {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

 .Choose {
   font-size: 28px;
 }

 i.huge.icon {
   font-size: 3.5em;
   margin: 0px 35px 0px 35px;
 }

 i.huge.icon:hover {
   color: navy;
 }