.Payment {
  min-height: 800px;
}

.Payment .title {
  color: green;
}

.Payment p {
  font-size: 20px;
  font-weight: bold;
}

.ui.table {
  border: 0px;
}

.ui.fluid.steps {
  margin-bottom: 0px;
}

.ui.table {
  margin-top: 0px;
}

.ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n){
  background-color: rgba(0,0,50,.05);
}