.profile {
  min-height: 800px;
}

.name {
  font-weight: bold;
  font-size: 28px;
}

.profile img.ui.image{
  margin: 0px;
}
    
.profile .ui.card, .ui.cards>.card {
  border-radius: 0px;
}

.FindALoan a {
  color: white;
}
    
.sumOutstanding {
  color: green;
  font-size: bold;
  font-size: 60px;
}

.NavProfile {
  background-color: #236133;
  font-size: 14px;
}
