.Basket {
  min-height: 800px;
}

.Basket .title {
  color: green;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  border: none;
}

.panel {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.ui.blue.button, .ui.blue.buttons .button{
  margin-right: 0px;
  margin-left: 10px;
}

.Continue a {
  color: white;
}

.ui.divided.items>.item:nth-child(2n){
  background-color: rgba(0,0,50,.05)
}

.ui.items>.item>.image>img{
  padding-left: 10px;
}