.Basket {
  min-height: 800px;
}

.Basket .title {
  color: green;
}

/* .well {
  padding: 8px;
  border: none;
} */

/* .ui.card, .ui.cards>.card {
  -webkit-box-orient: horizontal;
} */

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  border: none;
}

.panel {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.ui.blue.button, .ui.blue.buttons .button{
  margin-right: 0px;
  margin-left: 10px;
}

.Continue a {
  color: white;
}
