.navbar {
  margin: 0px;
  background-color: #63a541;
  font-size: 20px;
  font-weight: bold;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar img {
  border-radius: 50%;
}

.Logo {
  color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #91bd47;
  background-color: #236133;
}

.profile_pic {
  width: 40px;
  height: 40px;
}

.navbar-nav>li>a{
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 49px;
}

.Cat {
  font-size: bold;
  margin-left: 15px;
  margin-top: 10px;
  padding-top: 5px;
}

.ui.steps {
  border-radius: 0px;
}

.dropdown-menu li a {
  color: rgb(38, 182, 232);
  font-weight: bold;
}