.navbar {
  margin: 0px;
  background-color: #63a541;
  font-size: 20px;
  font-weight: bold;
  border: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar img {
  border-radius: 50%;
}
