.profile {
  min-height: 800px;
  padding-bottom:30px;
}

.name {
  font-weight: bold;
  font-size: 40px;
}

.profile img.ui.image{
  margin: 0px;
}
    
.profile .ui.card, .ui.cards>.card {
  border-radius: 0px;
}

.FindALoan a {
  color: white;
}
    
.sumOutstanding {
  color: green;
  font-size: bold;
  font-size: 48px;
  margin: 20px 0px 20px 0px;
}

.NavProfile {
  background-color: #236133;
  font-size: 14px;
}

.underTag {
  font-weight: bold;
  font-size: 18px;
}