.container-fluid {
  padding: 0;
}

.row {
  border: 1px solid black;  
  text-align: center;
}

.col-lg-6 {
  /* border: 1px solid black;  */
}

.FooterPic {
  background-image:url('./bottom.jpg');
}

.FooterPic p {
  color: white;
  font-size: 32px;
  margin: 100px;
  font-weight: bold;
}