.Payment {
  min-height: 800px;
}

.Payment .title {
  color: green;
}

.Payment p {
  text-align: center;
  font-size: 28px;
}

.ui.table {
  border: 0px;
}

.ui.fluid.steps {
  margin-bottom: 0px;
}

.ui.table {
  margin-top: 0px;
}